table {
  width: 100%;
}

/* Estilo para los inputs con placeholder */
.mat-form-field.mat-form-field-appearance-fill .mat-form-field-label,
.mat-form-field.mat-form-field-appearance-fill .mat-input-element {
color: #757575; /* Color del texto del placeholder */
}

/* Estilo para cuando el input tiene el foco */
.mat-form-field.mat-focused .mat-form-field-label,
.mat-form-field.mat-focused .mat-input-element {
color: #000; /* Color del texto cuando el input tiene foco */
}

/* Estilo para cuando el usuario ha ingresado texto */
.mat-form-field.mat-form-field-appearance-fill .mat-form-field-label {
transform: translateY(-36px) scale(0.75); /* Ajusta la posición del label */
}

/* Alinear el h3 y p entre el centro y el borde izquierdo */
.custom-title,
.custom-description {
position: relative;
width: 50%; /* Ajusta este valor según tus necesidades */
margin-left: 0; /* Asegura que el margen izquierdo sea cero */
text-align: center; /* Alinea el texto a la izquierda */
}